
.navbar{
    height:122px;
    width: 390px;;
    background-image: url(Images/Header\ Background.png);
    background-repeat: no-repeat;
    position:relative;
    bottom:5px;
    display: flex;
    align-items: end;
    justify-content: center;
}
.nav-left{
width:200px;
margin:0px;
padding:7px;
display: flex;
align-content: center;
align-items: center;
}
.logo {
  margin-right: 5px;
}
.nav-right{
   display:flex;
   justify-content: flex-end;
   align-items: center;
   margin: 0px;
   padding:9px;
}
h1{
    margin: 0px;
    padding:0px;
}
.hero-image{
margin: 0px;
}
.join-tasa{
  height:413px;
  width: 387px;
  margin:0px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.supporting-member-box{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:97px;
  width: 320px;
  border-style: solid;
  border-color: #135997;
  border-width: 3px;
  border-radius: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #3389D7;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.arrow{
margin-right: 20px;
}
.arrow-bottom{
  margin-right: 20px;
  margin-left: 50px;
}
.member-icon{
  margin-left: 15px;
}
.therapy-team-box{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:97px;
  width: 320px;
  border-style: solid;
  border-color: #135997;
  border-width: 3px;
  border-radius: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #3389D7;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.care-team-box{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:97px;
  width: 320px;
  border-style: solid;
  border-color: #135997;
  border-width: 3px;
  border-radius: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #3389D7;
  box-shadow: 0px 4px 4px 0px #00000040;
}
footer{
    height:414px;
    width: 396px;
    padding: 15px;
    background-image: url(Images/Footer\ Background.png);
    background-repeat: no-repeat;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-top{
    width: 350px;
    height:250px;
    display:flex;
}
  .footer-left{
    width: 180px;
    height:230px;
    margin:0px;
    padding:0px;
  }
  .contact-us{
    display: flex;
    width:180px;
    height: 140px;
    margin: 0px;
    padding: 0px;
  }
  .contact-icons{
    width:30px;
    height: 110px;
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    justify-content: space-between;
  }
  #location{
    margin-top: 14px;
  }
  #social-icon{
    padding: 5px;
  }
  .contact-info{
display: flex;
flex-direction: column;
justify-content: space-evenly
  }
  .footer-right{
    display:flex;
    flex-direction: column;
    width: 150px;
    height:160px;
   margin-top: 20px;
    align-items: center;
    justify-content: space-between;
  }
  .footer-bottom{
   width:306px;
   height:140px;
   padding: 0px;
   margin: 0px;
position:relative;
bottom:15px;
display:flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
  }
button{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  height: 41px;
  padding:0px;
  padding-left: 15px;
  padding-right: 15px;
  border:none;
  outline:none;
  border-radius: 25px;
  overflow:hidden;
  flex-shrink: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background:#8E5315;
  color:white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor:pointer
  }
  .slogan{
    word-wrap: break-word;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
  }
 